.tabs {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgba(white, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  margin: 12px;
  margin-top: 50px;
}

.tab {
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:not(:last-child) {
        margin-right: 14px;
    }
}

.tab-tile {
  //Increase the size of the tabs
  padding: 18px;
  display: flex;

  i {
    color: #222;
    cursor: pointer;
  }
}

.tab-tile::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: rgba(violet, 0.5);
    opacity: 0.9;

    border-radius: 10px;
    
    z-index: -1;

    transition: all 0.2s;

}

// Style background color of each tab tiles pseudo element
.bookmarks-tab .tab-tile::before {
  background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
}

.todos-tab .tab-tile::before {
  background: linear-gradient(45deg, #a2ffff, #ffbdde);
}

.notes-tab .tab-tile::before {
  background: linear-gradient(45deg, #d2cdff, #5fffbc);
}

//Hover styling
.tab-tile:hover::before {
  opacity: 1;
  transform: scale(1.1);
}


